- const pageExists = typeof current !== 'undefined';
- const pageIndex = pageExists ? current : 1;
- const userExists = typeof userBlog !== 'undefined';
- const categoryLink = userExists ? `/articles/user/${userBlog.nick_name}/` : '/articles/'
- const searchTypeExists = typeof searchType !== 'undefined';
- const searchLink = searchTypeExists ? `/search/${searchType}` : '/search';
- const searchTextExists = typeof searchText !== 'undefined';
- const searchTextValue = searchTextExists ? searchText : '';


header
  // Header
  nav(class="navbar navbar-light bg-light navbar-expand-md shadow fixed-top")
    a(href="/" class="navbar-brand")= __('WB')
    if isLogged
      a(class="btn btn-outline-secondary ml-auto d-inline d-md-none" href='/admin') #{__('My Area')}
    else
      a(class="btn btn-outline-secondary ml-auto d-inline d-md-none" href='/admin') #{__('Sign In')}
    button(class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#mainNav")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="mainNav")
      div(class="navbar-nav pl-md-2")
        each category in categories
          - const categoryClass = categorySelected === category.toLowerCase() ? 'bold' : '';
          a(class=`nav-item mx-lg-2 nav-link ${categoryClass}` href=`${categoryLink}${pageIndex}?category=${category.toLowerCase()}`) #{__(category)}   
        - getLocales().forEach( function(lang) { 
            a(class='nav-item mx-lg-2 nav-link' href=`/lang/${lang}`)= lang.toUpperCase()
        -  })
      if isLogged
        a(class="btn btn-outline-secondary ml-auto d-md-inline d-none" href='/admin') #{__('My Area')}
      else
        a(class="btn btn-outline-secondary ml-auto d-md-inline d-none" href='/admin') #{__('Sign In')}
      form.form-inline.d-flex.mt-2.mt-md-0.ml-md-2.flex-nowrap(action=searchLink)
        input(type="search" name="text" class="form-control mx-lg-2" aria-label="#{__('Search')}" placeholder=__('Search') value=searchTextValue)
        button(type="submit" class="btn btn-outline-secondary" aria-label="#{__('Search')}")
          i(class="fas fa-search")
