- const pageExists = typeof current !== 'undefined';
- const pageIndex = pageExists ? current : 1;
- const userExists = typeof userBlog !== 'undefined';
- const categoryLink = userExists ? `/articles/user/${userBlog.nick_name}/` : '/articles/'

header
  // Header
  nav(class="navbar navbar-light bg-light navbar-expand-md shadow fixed-top")
    a(href="/" class="navbar-brand")= title
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="mainNav")
      div(class="navbar-nav")
        each category in categories
          a(class="nav-item mx-lg-3 mx-xl-5 nav-link" href=`${categoryLink}${pageIndex}?category=${category.toLowerCase()}`) #{__(category.toUpperCase())}
      a(class="btn btn-outline-secondary ml-auto" href='/admin') #{__('Sign In')}
      form(class="form-inline")
        input(type="search" class="form-control mx-2" placeholder="Search")
        button(type="submit" class="btn btn-outline-secondary")
          i(class="fas fa-search")
