extends layout

block content
  include ./partials/header.jade
  if articles
  .container-fluid.card-columns
    for article in articles
        .card.animated.bounceInLeft
          .hovereffect
            img.card-img-top.img-fluid(src=article.file)
            .overlay
              h2 Category
              h2= article.category
          h4.card-title=article.title
          p.card-text=article.summary
          h6=article.author.name
          p #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')}
         

  if (count >= recordsPerPage)
    nav(aria-label='...', style='text-align: center')
      ul.pagination
        -if (current > 0)
          li.page-item
            -var pageUrl =  '/articles/' + (lower_limit - pageButtonCount); 
            a.page-link(href=pageUrl) First
        -else
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') First
        -for (i = 1; i < pageButtonCount + 1; i++)
          -if (count > (recordsPerPage * paginationNo))
            -paginationNo = paginationNo + 1
            -var pageUrl =  '/articles/' + paginationNo; 
              -if (page != paginationNo)
                li.page-item
                  a.page-link(href=pageUrl) #{paginationNo}
              -else
                li.page-item.active
                  a.page-link(href='#')
                    | #{paginationNo}
                    span.sr-only (current)
        -if (current = pages)
          -var pageUrl = '/articles/' + (pageButtonCount) 
            li.page-item
              a.page-link(href=pageUrl) Last
        -else
            li.page-item.disabled
              a.page-link(href='#', tabindex='-1') Last

