extends layout

block content
  include ./partials/header.jade
  if articles
  .container-fluid.card-columns
    for article in articles
        .card.animated.bounceInLeft
          img.grid-sizer.card-img-top.img-fluid(alt='Card image cap', src=article.file)
          h4.card-title=article.title
          h5=article.create_at
          h5=article.author
          p.card-text=article.summary


 
  if (count >= recordsPerPage)
    nav(aria-label='...', style='text-align: center')
      ul.pagination
        -if (lower_limit > 1)
          li.page-item
            -var pageUrl =  '/articles/' + (lower_limit - pageButtonCount); 
            a.page-link(href=pageUrl, tabindex='-1') Previous
        -else
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
        -for (i = 1; i < pageButtonCount + 1; i++)
          -if (count > (recordsPerPage * paginationNo))
            -paginationNo = paginationNo + 1
            -var pageUrl =  '/articles/' + paginationNo; 
              -if (page != paginationNo)
                li.page-item
                  a.page-link(href=pageUrl) #{paginationNo}
              -else
                li.page-item.active
                  a.page-link(href='#')
                    | #{paginationNo}
                    span.sr-only (current)
        -if (count > (recordsPerPage * upper_limit))
          -var pageUrl = '/articles/' + (upper_limit + 1) 
            li.page-item
              a.page-link(href=pageUrl) Next
        -else
            li.page-item.disabled
              a.page-link(href='#', tabindex='-1') Next
