if articles
    .cards-masonry
        for article in articles
            .card.article-card.bg-light
                a(href=`/article/${article.author.nick_name}\/${article.getSlug()}`)
                    img.card-img-top.img-fluid(src=article.file)
                .card-body
                    a(href=`/article/${article.author.nick_name}\/${article.getSlug()}`)
                        p.h5-style.card-title=article.title
                    p.card-text=article.summary
                    p=article.shortDescription
                    p.h6-style
                        a(href=`/articles/user/${article.author.nick_name}`)=article.author.name
                    p #{article.getFormattedDatePost()}
