extends ../layout
include ../includes/_pagination

block content
    .container
        - const link = `/search/${searchType}/`
        - const articleClass = searchType === 'article' ? 'bold' : '';
        - const userClass = searchType === 'user' ? 'bold' : '';
        .row
            .col-6
                a(href=`/search/article?text=${searchText}`, class=`mr-4 ${articleClass}`)=__('Articles')
                a(href=`/search/user?text=${searchText}` class=userClass)=__('Users')
            if searchType === 'article'
                - const linkOrder = `/search/${searchType}?text=${searchText}&`
                .col-6.text-right
                    include ../articles/_order
        hr.mt-2

        .mb-3
            if searchType === 'article'
                - const articles = models;
                - const notOrder = true;
                include ../articles/_articles_cards
                if !articles || articles.length <= 0
                    p.mt-5=__('We could not find articles')
            if searchType === 'user'
                - const users = models;
                include ../users/_users_cards
                if !users || users.length <= 0
                    p.mt-5=__('We could not find people')
        .mb-5
            +pagination(link, '?text=' + searchText)
