mixin user_header(user, following)
    - const image = user.image || 'default.png'
    .row.mb-1
        .col-12.d-flex.align-items-center.flex-md-nowrap.flex-wrap
            .user-header-image.mr-3.mb-3.mb-lg-0
                img(src="/images/#{image}")
            .user-header-info
                h1=user.name
                p.mb-1=user.description
                p.text-muted.small.d-inline.mr-2=`${user.followers.length} ${__('followers')}`
                p.text-muted.small.d-inline=`${following.length} ${__('following')}`
    hr.w-100.mb-5
