extends ../layout

block content
    .container.d-flex.hv-80
        .row.w-100.justify-content-center.align-self-center
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.bg-light
                    .card-body
                        h5.card-title.text-center #{__('Reset Password')}
                        form(method='POST', data-toggle="validator")
                          .container
                                if messages.error
                                    .alert.alert-danger
                                        div= messages.error
                          .form-group
                            label(for='password') #{__('New Password')}
                            input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true , minlength=6, required)
                          .form-group
                            label(for='confirm') #{__('Confirm Password')}
                            input.form-control(type='password', name='confirm', value='', placeholder='Confirm password', minlength=6, required)
                          .form-group
                            button.btn.btn-primary(type='submit') #{__('Update Password')}
